.navigation__item {
	display: inline-flex;
	align-self: center;
	font-size: 20px;
	padding-left:100px;
}

body {
	margin: 0px;
	font-family: helvetica;
}

header {
	background-color: black;
	color: white;	
}

h1 {
	color: white;
}

h2 {
	color: white;
	padding: 5px;
}

em {
	color: white;
	margin: 5px;
}

h3 {
	color: white;
	padding: 5px;
}

#lien_header {
	color: white;
}

#lien_header_deconnexion {
	color: brown;
}

#lien_header:hover {
	background-color: grey;
}

#colonne_hidden {
	border-style: none;
	text-align: center;
}

#validerreset {
	align-items: right;
	display: flex;
	margin-left: 25%;
	margin-bottom: 20px;
}

a {
	color: white;
}

input{
	margin: 5px;
}

select{
	margin : 5px;
}

form {
	padding: 5px;
}

body {
	background-color: black;
}

label {
	margin: 5px;
}

td {
	font-weight: lighter;
	padding: 5px;
	margin: 5px;
	text-align: center;
	border: 2px solid;
	border-color: grey;
}

text {
	margin: 5px;
}

table{
	padding: 5px;
}


#contenu_page {
	padding: 20px;
	color: white;
}

#box_entouree {
	border: 2px;
	border: solid;
	border-color: white;
	padding: 20px;
	padding-right: 50px;
	display: inline-block;
	line-height: 40px;
}

#input_suppr {
	background-color: #9e4741;
}

#title_header {
	display: inline-block;
	padding: 40px;
}

#header_bar {
	padding: 10px;
	background-color: #033c71;
	color: white;
  }

#header_logo_and_title {
	display: inline-flex;
	text-align: center;
}

#logo {
	padding: 10px;
}

.img_dans_modif {
	height: 100px;
	padding: 5px;
}

#affichematch{
	display: inline-grid;
	padding: 0px;
	margin: 0px;
	font-size: 10px;
	margin-bottom: 40px;
}

#img_dans_affichematch{
	height: 50px;
}

#validermodif{
	width: 100px;
	height: 50px;
	font-size: 20px;
}